@w1: 12px;
@w2: 30px;
#middle{
    &.hidden {
      visibility: hidden;
      height: 0;
      padding: 0;
    }
    &.toolbar-open{
           width: calc(100vw - 432px); 
    }
    &.toolbar-close{
        width: calc(100vw - 72px); 
    }
    padding: 4px;
    height: 96px;
    position: relative;    
    > .pageContainer {
        padding: 8px; 
        white-space: nowrap;
        overflow-x: scroll;
        > div {
            height: 100%;
            display: inline-block;
            position: relative;
            > div.interval {
                position: absolute;
                top: 0;
                left:100%;
                transform: translateX(-100%);
                height: 48px;
                width: @w1;
                &.hovering{
                    width: @w2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
           > div.container {
                display: inline-block;
                margin-right: @w1;
                &.hovering{
                    margin-right: @w2;
                }
                 &.selected  > canvas{
                    border: 2px solid #93989D;
                 }
                 &.selected  > span {
                     background:  #F3F3F4;
                 }
                
                #moreHandle {
                    position: absolute;
                    z-index: 20;
                    left:calc(100% - 5px);
                    top: 3px;
                    transform: translate(-100%);
                    &.hidden{
                        display: none;
                    }
                }
                > canvas {
                    display: block;
                    border: 1px solid rgba(0,0,0,.3);
                }
                > span {
                    display:inline-block;
                    font-size: 14px;
                    line-height: 22px;
                    width: 100%;
                    text-align: center;
                }
            }   
        }
      
    }
}